/* css/contact.css */

/* Contact section */
section:nth-of-type(6) h2,
section#contact h2 {
  font-family: var(--font-title);
  letter-spacing: 2px;
  padding-left: 5vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

/* Add more contact styles here later */
