*{
  margin: 0;
  padding: 0;
}

#hero{
  display: flex;
  flex-direction: column;
}

#hero-img{
 width: 94vw;
 margin-left: 3vw;
 
}
.intro{
  position: relative;
   width: 94vw;
 margin-left: 3vw;
 padding-left: 5vw;
 border-left: 1px solid black;
 padding-top: 5vh;
 padding-bottom: 2vh;
}

#banner{
  position: absolute;
  right:7.5vw;
  top: 15vh;
  height: 27vh;
  width: 37vw;
  background-color: aqua;
}
.intro h1{
  padding-bottom: 2vh;
}
#her0-sub-title{
  padding-bottom: 1vh;
  width: 45vw;
}

#title{
  font-size: 4vh;
  padding-left: 5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
#welcome-side{
  width: 60vw;
  background-color: aqua;
  height: 6vh;
  position: absolute;
  right: 0;
}
#welcome-section{
  position: relative;
}
.welcome-para div{
  width: 30vw;
  margin-right: 15vw;
}
.welcome-para{
  margin-top: 10vh;
  display: flex;
}
.welcome-para p{
  width: 50vw;
  text-align: center;
}

