*{
  margin: 0;
  padding: 0;
}

#hero{
  display: flex;
  flex-direction: column;
}

#hero-img{
 width: 94vw;
 margin-left: 3vw;
 
}
.intro{
  position: relative;
   width: 94vw;
 margin-left: 3vw;
 padding-left: 5vw;
 border-left: 1px solid black;
 padding-top: 5vh;
 padding-bottom: 2vh;
}

#banner{
  position: absolute;
  right:9vw;
  top: 15vh;
  height: 25vh;
  width: 33vw;
  background-color: aqua;
}
.intro h1{
  padding-bottom: 2vh;
}
#her0-sub-title{
  padding-bottom: 1vh;
  width: 52vw;
}
