/* css/hero.css */

#hero {
  display: flex;
  flex-direction: column;
}

#hero-img {
  width: 94vw;
  margin-left: 3vw;
}

.intro {
  position: relative;
  width: 89vw;
  margin-left: 3vw;
  padding-left: 5vw;
  border-left: 1px solid var(--color-main-soft);
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.intro h1 {
  font-family: var(--font-title);
  letter-spacing: 2px;
  color: var(--color-main);
  padding-bottom: 2vh;
}

#her0-sub-title {
  padding-bottom: 1vh;
  width: 45vw;
  font-family: var(--font-subtitle);
  font-weight: 600;
  font-size: 2.1vh;
}

/* Hero banner */
#banner {
  position: absolute;
  right: 3vw;
  top: 16vh;
  height: 26vh;
  width: 35vw;
  background: linear-gradient(
    to right,
    #2c2d31 0%,
    #34363b 60%,
    #3a3b3f 100%
  );
  padding: 1vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#banner-head {
  color: #fff;
  font-family: var(--font-body);
  font-weight: 400;
  text-align: left;
  font-size: 2vh;
}

#banner-text {
  color: #fff;
  font-weight: 400;
  font-family: var(--font-body);
  text-align: left;
  font-size: 1.8vh;
}

#banner-para {
  color: #fff;
  font-weight: 400;
  font-family: var(--font-body);
  text-align: left;
  font-size: 1.8vh;
}
