/* css/journey.css */

#journey h2 {
  font-family: var(--font-title);
  letter-spacing: 2px;
  padding-left: 5vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
  color: rgb(133, 127, 255);
}

/* #temp image width is handled by global.css */
