/* css/portfolio.css */

#portfolio h2 {
  font-family: var(--font-title);
  letter-spacing: 2px;
  font-size: 4vh;
  padding-left: 5vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

#portfolio-first {
  display: flex;
  margin-bottom: 2vh;
}

.portfolio-text h4{
  text-align: center;
  font-family: var(--font-body);
  color: #2c2d31;
}
.portfolio-text p{
  text-align: center;
  font-family: var(--font-subtitle);
  color: #2c2d31;
}

/* text on left */
.portfolio-text {
  width: 45vw;
  margin-left: 3vw;
  margin-right: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

/* image on right */
.portfolio-image {
  width: 45vw;
}

.portfolio-image img {
  width: 100%;
}

/* slider image below */
.slider img {
  width: 90vw;
  margin-left: 5vw;
}
