/* css/service.css */

#service h2 {
  font-family: var(--font-title);
  letter-spacing: 2px;
  padding-left: 5vw;
  margin-top: 3vh;
}

.service-logo{
  display: flex;
  justify-content: right;
}

.service-logo img{
  width: 8vw;
}
.service-images{
  width: 70vw;
  position: relative;
  background: url("../assets/r1.jpg")center/cover no-repeat ;
  aspect-ratio: 2093/2555;
}
.service-image-buttons{
position: absolute;
right: -8vw;
display: flex;
}

#button-left{
  background-color: #fff;
  padding: 1vh 2vw;
  font-size: 4vw;
}

#button-right{
  width: 8vw;
  background-color: black;
  color: #fff;
  padding: 1vh 2vw;
  font-size: 4vw;
}
.service-data h3{
  text-align: right;
  margin: 1vh 2vw;
}
.service-data p{
  text-align: right;
  margin: 1vh 2vw;
}
.service-data{
  width: 80vw;
  margin-left: 20vw;
}

/* Full viewport height for service area */
#service {
  
  position: relative;
}

/* Container that holds all slides */
#service-container {
  position: relative;
  min-height: calc(100vh - 6vh); /* a bit less than full to account for header */
  margin-top: 2vh;
  overflow: hidden;
}

/* Each slide uses your same layout (data + image stacked) */
.service-slide {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3vh;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s linear;
}

/* default visible slide */
.service-slide.is-current {
  opacity: 1;
  pointer-events: auto;
}

/* when we are animating between slides, JS sets opacity directly */

